.landing-page-container {
	@media screen and (min-width: 1022px) {
		min-height: calc(100vh - 200px) !important;
	}
	.landing-bg {
		height: 74vh;
		@media screen and (max-width: 1050px) {
			height: 51vh;
		}
	}
}
