.landing-page-container {
	@media screen and (min-width: 1022px) {
		min-height: 100% !important;
	}
	.landing-bg {
		height: 71vh;
		@media screen and (max-width: 1050px) {
			height: 51vh;
		}
	}
}
