
  .ant-select-selection-selected-value {
    border-radius: 0px 8px 8px 0px;
    height: 53px;
  }

  .ant-select-selection{
    height: 56px;
      .ant-select-selection--single {
      height: 53px;
    }
  }

  .ant-select-selector {
    height: 56px !important;
  }

  .ant-select-selection.ant-select-selection--single
    > div
    > div
    > div
    > div
    + div {
    margin-top: -5px;
    padding: 4px 5px 5px 14px !important;
  }

  .ant-select-selection.ant-select-selection--single > div > div > div > div {
    margin-top: -20px;
  }

  .ant-select-selection.ant-select-selection--single[aria-expanded="true"]
    > div
    > div
    > div
    > div {
      margin-top: -10px;
  }

  /*style for when the menu is expanded: show shipment description above icon and name*/ 
  .ant-select-selection.ant-select-selection--single[aria-expanded="true"]
      > div
      > div
      > div
      > div
      + div {
        margin-top: -15px;
  }

  .gameweek-display-container {
    .game-display {
      background: $primary-brand-darker;
      padding: 0.7rem 0;
      text-align: center;
      font-weight: bold;

      .white {
        color: $white;
      }
      .green {
        color: $tw-green;
        margin-left: 10px;
      }
    }
    .green-band {
      height: 6px;
      background: $tw-green;
      width: 92%;
      margin: auto;
    }
  }
