.footer {
	.copyright {
		font-family: "Poppins", sans-serif;
	}
}
.f-oswald {
	font-family: "Oswald";
}
.f-nunito {
	font-family: "Nunito", sans-serif;
}
.green-outline-btn {
	border: 1px solid rgba(103, 242, 75, 0.4);
	color: rgba(103, 242, 75, 0.6);
	&:hover {
		border-color: #67f24b;
		color: #67f24b;
	}
}
.brand-outline-btn {
	border: 1px solid #8139e6;
	color: #8139e6;
}
.ant-input-affix-wrapper.tef-password-input {
	height: 44px;
	border-radius: 0;
	border-color: #8139e6;
}
.ant-input-affix-wrapper-focused.tef-password-input {
	box-shadow: 0 0 0 2px rgba(129, 57, 230, 0.5);
}
