* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	background: #fff;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

@import "./styles/scss/main.scss";

.ant-popover.player-details-popup {
	width: 350px;
}
.player-photo {
	margin-bottom: 2rem;
}
.player-photo img {
	width: 150px;
}
.player-detail-info-row {
	padding: 0.5rem 0;
}
