// COLORS
.text-white {
	color: #fff !important;
}

// MARGINS
.m-auto {
	margin: auto;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

// PADDINGS
.pt-2rem {
	padding-top: 2rem;
}

// FONT-SIZES

// WITDTH
.w-full {
	width: 100%;
}
