$primary-brand: #8139e6;
$primary-brand-light: #e5dcf1;
$primary-dark: #222222;
$dark: #333;
$black: #000;
$primary-dark-light: rgba(34, 34, 34, 0.6);
$primary-gray: #e5e5e5;
$primary-brand-gray: #d3d3d3;
$input-gray: #131516;
$secondary-dark-light: rgba(34, 34, 34, 0.8);
$secondary-dark-lighter: rgba(34, 34, 34, 0.25);
$fb-blue: #385c8e;
$tw-blue: #03a9f4;
$tw-green: #4aae75;
$green-darker: #199300;
$tw-green-light: #67f24b;
$tw-yellow: #ffd500;
$tw-sky-blue: #89d0e1;
$tw-red: #ff4b26;
$primary-brand-darker: #522593;
$primary-brand-lighter: #e1ceff;
$secondary-gray: #e5e5e5;
$secondary-gray-2: #eeeeee;
$gray-light: #f0f0f0;
$gray-2: #c4c4c4;
$gray-3: #6b6b6b;
$gray-4: #bbbaba;
$gray-5: #f3f3f3;
$btn-gray:#efefef;
$white: #fff;
$tag-blue: rgba(6, 6, 6, 0.8);
