@import "./components/component";
@import "./components/header";
@import "./components/layout";
@import "./components/team-card";

@import "./pages/homepage";
@import "./pages/auth";
@import "./pages/teams";
